.vfrc-widget--launcher {
  background-color: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  opacity: 1 !important;
}

.vfrc-launcher.c-bQoszf {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 1 !important;
}

.vfrc-launcher {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.vfrc-launcher img {
  width: 80px !important;
  height: 80px !important;
  border-radius: 40px !important;
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  object-fit: cover !important;
}

.vfrc-launcher:hover {
  background-color: transparent !important;
}

.vfrc-proactive-message {
  background-color: rgb(255, 255, 255);
  color: black;
}
